@import "../../scss/fontawesome.scss";
@import "../../scss/solid.scss";
$nav-link-color: #7b76ff;
html,
body {
    background-color: #fbf7f4;
    margin: 0;
    padding: 0;
}
.top-layer {
    position: relative;
}
.top-layer-wave {
    top: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.home-container {
    overflow: hidden;
    z-index: 1;
}
.home-container::before {
    content: "";
    background-image: url("../images/Spindle_1.jpg");
    display: block;
    height: 50em;
    z-index: 0;
    width: 100%;
    position: absolute;
    transform: rotateX(180deg);
    bottom: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clip-path: polygon(
        100% 0%,
        0% 0%,
        0% 65%,
        1% 64.95%,
        2% 64.8%,
        3% 64.6%,
        4% 64.3%,
        5% 63.9%,
        6% 63.45%,
        7% 62.9%,
        8% 62.25%,
        9% 61.55%,
        10% 60.8%,
        11% 59.95%,
        12% 59.05%,
        13% 58.1%,
        14% 57.1%,
        15% 56.05%,
        16% 55%,
        17% 53.9%,
        18% 52.8%,
        19% 51.65%,
        20% 50.5%,
        21% 49.35%,
        22% 48.2%,
        23% 47.05%,
        24% 45.9%,
        25% 44.8%,
        26% 43.75%,
        27% 42.75%,
        28% 41.75%,
        29% 40.8%,
        30% 39.9%,
        31% 39.1%,
        32% 38.35%,
        33% 37.65%,
        34% 37.05%,
        35% 36.5%,
        36% 36.05%,
        37% 35.65%,
        38% 35.35%,
        39% 35.15%,
        40% 35.05%,
        41% 35%,
        42% 35.05%,
        43% 35.2%,
        44% 35.45%,
        45% 35.75%,
        46% 36.15%,
        47% 36.65%,
        48% 37.2%,
        49% 37.85%,
        50% 38.55%,
        51% 39.35%,
        52% 40.2%,
        53% 41.1%,
        54% 42.05%,
        55% 43.05%,
        56% 44.1%,
        57% 45.15%,
        58% 46.3%,
        59% 47.4%,
        60% 48.55%,
        61% 49.7%,
        62% 50.85%,
        63% 52%,
        64% 53.15%,
        65% 54.25%,
        66% 55.35%,
        67% 56.4%,
        68% 57.45%,
        69% 58.4%,
        70% 59.35%,
        71% 60.2%,
        72% 61.05%,
        73% 61.8%,
        74% 62.45%,
        75% 63.05%,
        76% 63.6%,
        77% 64.05%,
        78% 64.4%,
        79% 64.7%,
        80% 64.85%,
        81% 65%,
        82% 65%,
        83% 64.9%,
        84% 64.75%,
        85% 64.5%,
        86% 64.2%,
        87% 63.75%,
        88% 63.25%,
        89% 62.7%,
        90% 62.05%,
        91% 61.3%,
        92% 60.5%,
        93% 59.65%,
        94% 58.75%,
        95% 57.8%,
        96% 56.8%,
        97% 55.75%,
        98% 54.65%,
        99% 53.55%,
        100% 52.4%
    );
}

.home-container h1,
.home-container p {
    position: relative;
    text-align: center;
}
.home-container::after {
    content: "";
    display: block;
    background-image: url("../images/ice_cream.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    opacity: 0.8;
    position: absolute;
    bottom: 120px;
    right: 180px;
    overflow: hidden;
}
.home-content {
    margin-top: 90px;
    z-index: 1;
    position: relative;
}
.cloud-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    margin-top: 60px;
    padding-bottom: 100px;
}
.cloud {
    width: 16rem;
    height: 9rem;
    border: 2px solid rgb(72, 51, 190);
    background-color: rgb(201, 223, 243);
    border-radius: 5px;
    justify-self: center;
    display: grid;
    justify-content: center;
    align-content: center;
    box-shadow: 6px 6px 15px 3px rgba(0, 0, 0, 0.26);
}
.menu-btn {
    display: block;
    margin: auto;
    height: 40px;
    width: 150px;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    transition: 0.2s ease-in-out 0s;
    box-shadow: 3px 3px 11px 1px rgba(0, 0, 0, 0.329);
}
.home-content a {
    text-decoration: none;
    color: rgb(62, 45, 156);
}
.menu-btn:hover {
    transform: scale(1.05);
}
// add svg wave
.menu-container {
    position: relative;
    z-index: 1;
}
.svg-container {
    position: relative;
}
.background-wave {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 100%;
}

.bottom-wave {
    overflow: hidden;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.content-container,
.about-container,
.login-container,
.signup-container {
    position: relative;
    z-index: 1;
}

.card {
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.2);
}
.itemList li {
    display: inline-block;
    margin: 10px;
}
.itemList {
    padding: 0;
}
.select-item-form {
    margin-right: 10px;
}
.submit-item-form {
    margin-right: 20px;
}
.itemLine:before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: gray;
}
.itemContainer {
    height: 100px;
}
.removeItem {
    appearance: none;
    background-color: transparent;
    border: none;
    margin-left: 10px;
}
.removeItem:after {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-trash);
}
.cart {
    position: relative;
    .itemCount {
        display: inline-block;
        position: relative;
        top: -4px;
        right: -2px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: rgb(59, 14, 165);
        text-align: center;
        span {
            position: relative;
            bottom: 3px;
            color: white;
            font-size: 12px;
        }
    }
}
.checkout-container {
    position: relative;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.price-cut {
    text-decoration: line-through;
    color: rgba(31, 31, 31, 0.459);
}
.sideCart {
    width: 350px;
}
.itemTotalPrice {
    margin-left: auto;
}
.itemQty {
    margin-left: 10px;
}
.itemSideCart {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 6px;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 4px;
}
.desktop-nav {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 30px;
}
.desktop-nav .dropdown {
    display: inline-block;
}

.desktop-nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    color: rgb(23, 55, 233);
}
.desktop-nav ul li a:hover {
    text-decoration: none;
    color: rgba(23, 55, 233, 0.75);
}
.brand-name {
    position: relative;
    font-size: 22px;
    margin-left: 30px;
    font-weight: 500;
    z-index: 1;
    color: rgb(23, 55, 233);
    font-family: "Montserrat Alternates", sans-serif;
}
.login-container,
.signup-container {
    width: 500px;
    margin: 70px auto 0;
    background-color: #d7bce8;
    padding: 45px;
    border-radius: 10px;
}
.signup-container form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    row-gap: 6px;
}
.login-container h1,
.signup-container h1 {
    text-align: center;
    color: #5d576b;
}
.login-container form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 8px;
}
.login-container form input,
.signup-container form input {
    background: #f6ece0;
    color: #5d576b;
    border-radius: 6px;
    border: none;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

input[type="submit"].login-btn,
input[type="submit"].signup-btn {
    margin-top: 15px;
    background-color: #8884ff;
    color: whitesmoke;
    height: 34px;
    transition: all 0.3s ease-in-out;
}
input[type="submit"].login-btn:hover,
input[type="submit"].signup-btn:hover {
    transform: scale(1.02);
    background-color: rgba(136, 132, 255, 0.8);
}
.danger {
    color: rgb(243, 78, 78);
    font-size: 15px;
    font-weight: 300;
}
.about-container {
    text-align: center;
}
.about-container h1 {
    color: #5d576b;
    margin-top: 90px;
    margin-bottom: 40px;
}
.about-container p {
    margin: auto;
    width: 900px;
    line-height: 30px;
}
.successful-payment {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 80px;
    h2 {
        color: #2dc82d;
    }
}
.checkout-cart {
    background-color: #76ddfd;
    padding: 30px 40px;
    margin: 20px 0 30px;
    border-radius: 5px;
}
.checkout-details {
    background-color: #f695f69c;
    padding: 30px 40px;
    margin: 10px 0 40px;
    border-radius: 5px;
}
.items-title {
    margin-top: 15px;
}
.checkout-details ul {
    list-style: none;
    position: relative;
}
.fa-asterisk {
    font-size: 8px;
    margin-right: 10px;
    color: #8974ee;
}
.StripeElement {
    background-color: #c2c2e8;
    padding: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.payment-btn {
    margin-bottom: 20px;
    width: 160px;
    height: 32px;
    border-radius: 3px;
    border: none;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: #8884ff;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
}
.payment-btn:hover {
    transform: scale(1.02);
    background-color: rgba(136, 132, 255, 0.8);
}
@media only screen and (max-width: 1480px) {
    .home-container::before {
        height: 35em;
    }
    .home-container::after {
        width: 200px;
        height: 200px;
        bottom: 100px;
        right: 100px;
    }
    .home-content {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 1200px) {
    .mobile-button {
        outline: none;
        border: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: pointer;
        position: absolute;
        top: 18px;
        right: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: transparent;
    }
    .mobile-button:before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: transparent;
        box-shadow: 0px 1px 10px 10px rgba($color: #000000, $alpha: 0.2);
        z-index: -1;
    }
    .background {
        position: absolute;
        top: 0;
        left: 0px;
        bottom: 0;
        width: 300px;
        background: #fff;
        height: 100%;
    }
    nav {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 300px;
    }
    nav ul {
        padding: 25px;
        position: absolute;
        top: 100px;
        width: 230px;
    }

    nav li {
        list-style: none;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    nav li a:hover {
        text-decoration: none;
    }
    nav li:before {
        content: "";
        margin: 0;
        padding: 0;
        display: block;
        width: 2px;
        height: 2px;
        position: relative;
        left: -10px;
        top: 13px;
        visibility: hidden;
    }
    nav li:hover:before {
        width: 2px;
        visibility: visible;
        transform: scaleY(8);
        background-color: rgb(23, 156, 233);
        transform-origin: center;
        transition: 0.2s ease-in;
    }
}
@media only screen and (max-width: 850px) {
    .cloud-container {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .cloud {
        width: 13rem;
        height: 7rem;
    }
    .home-container::after {
        right: 20px;
        bottom: 60px;
    }
}
@media only screen and (max-width: 575px) {
    .checkout-container {
        margin-left: 6px;
    }
}
